@mixin flex($direction: column, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$size: min(60vh, 60vw);
$primaryBC: #222222;
$secondaryBC: #ffd500;

.App {
  background-color: white;
  text-align: center;
}

.App-Container {
  @include flex();
  background-color: $primaryBC;
  color: white;
  font-size: xx-large;
  height: 100vh;
}

#Sudoku-Container {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: $size;
  justify-items: center;
  width: $size;
}

.sectors {
  align-items: center;
  background-color: lightgray;
  border: 2px solid #222222;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: calc($size / 3);
  justify-items: center;
  position: relative;
  width: calc($size / 3);
}

.Header {
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: $primaryBC;
  display: flex;
  height: 50px;
  justify-content: space-between;
  left: 0;
  padding: 10px 50px 0;
  position: fixed;
  right: 0;
  width: auto;
  z-index: 999;

  .nav {
    align-items: center;
    color: white;
    display: flex;
    height: auto;
    justify-content: space-between;
    position: relative;
    width: 100%;
    z-index: 12;
  }

  .navElements {
    align-items: center;
    column-gap: 50px;
    display: flex;
    justify-content: space-between;
  }

  #logo {
    color: #ffd500;
    font-size: 55px;
  }

  #logo strong:hover {
    color: white;
    cursor: pointer;
  }

  #newGame {
    cursor: pointer;
    font-size: calc($size / 30);

    &:hover {
      color: #ffd500;
    }
  }

  #gameSettingsContainer {
    @include flex(row, flex-end);
    flex: 2;
    font-size: calc($size / 30);

    .navElements:not(:first-child) {
      margin-left: 20px;
    }
  }

  label {
  }

  select {
    appearance: none;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: white;
    font-size: calc($size / 30);
    padding: 0 2px;
    border-radius: 5px;

    &:hover {
      background-color: $secondaryBC;
      color: $primaryBC;
    }
  }

  option {
    align-items: center;
    background-color: #222222;
    color: white;
    font-size: calc($size / 40);
    padding: 2px;
    text-align: center;

    &:hover {
      background-color: $secondaryBC;
    }
  }
}
