@import "app";

@mixin on-circle($item-count, $circle-size, $item-size) {
  > * {
    &:hover {
      width: calc($item-size * 1.1);
      height: calc($item-size * 1.1);
      color: $secondaryBC;
      background-color: $primaryBC;
    }

    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: $item-size;
    height: $item-size;
    margin: -($item-size / 2);

    $angle: calc(360 / $item-count);
    $rot: 125.5;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate(calc($circle-size / 2)) rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}

#BubbleRing {
  @include on-circle(
          $item-count: 10,
          $circle-size: calc($size / 4),
          $item-size: calc($size / 18)
  );
  position: relative;
  transform: translate(-28%, calc($size / 35));
  z-index: 5;
}

.NumberBubble {
  background-color: $secondaryBC;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 0 0 6px black;
  color: black;
  cursor: pointer;
  font-size: calc($size / 22);
  height: 30px;
  user-select: none;
  width: 30px;

  &:hover {
  }
}
