.cell {
  border: 1px solid black;
  width: calc(166px / 3);
  height: calc(166px / 3);
  color: #000000;
  background-color: white;
}

::placeholder {
  color: black;
}

.boldCell {
  border: 1px solid black;
  width: calc(166px / 3);
  height: calc(166px / 3);
  color: rgb(0, 0, 0);
  font-weight: bolder;
  background-color: white;


}

#cellInput {
  outline: none;
  border: solid 0 #fff;
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 25px;
  color: transparent;
  text-shadow: 0 0 0 black;

}