/* Define cell size based on app size variable */
@import "app";

$cellSize: calc(calc($size / 3) / 3 - 0.9px);

/* Cell styles */
.cell,
.boldCell {
  align-items: center;
  border: 1px solid $primaryBC;
  color: #000000;
  display: grid;
  font-size: calc($cellSize / 1.5);
  height: $cellSize;
  justify-content: center;
  position: relative;
  user-select: none;
  width: $cellSize;
}

.cell {
  background-color: white;
}

.boldCell {
  background-color: #e0e0e0;
  font-weight: bolder;
}

.cellNoteContainerWrapper {
  width: 100%;
}

.cellNoteContainer {
  display: flex;
  flex-wrap: wrap;
  font-size: calc($cellSize / 3);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  position: relative;
  width: 100%;
}

/* Cell note styles */
.cellNote {
  align-items: center;
  background-color: $primaryBC;
  color: $secondaryBC;
  cursor: pointer;
  font-size: calc($size / 33);
  height: calc(#{$cellSize} / 3);
  justify-content: center;
  user-select: none;
  width: calc(#{$cellSize} / 3);

  &:hover {
    background-color: lightgray;
    color: black;
  }
}
.cellNoteActive{
  align-items: center;
  color: gray;
  font-size: calc($size / 33);
  height: calc(#{$cellSize} / 3);
  justify-content: center;
  user-select: none;
  width: calc(#{$cellSize} / 3);

}
.Selected{
  background-color: $secondaryBC;
}